
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>  
	</div>
</nav>

<h1>Hi Developer view !</h1>
<div>
<button style="background-image: url(../img/github.jpg)"  >Github</button>
<br/>
<button style="background-image: url(../img/jenkins.png)" >Jenkins</button>
<br/>
<button style="background-image: url('../img/fabric8.JPG')">Fabric 8</button>
</div>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>