<h3>Hi {{vm.user.firstName}}!</h3>
<p>You're logged in!!</p>
<!-- <h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>

</ul> -->
 <form class="form-inline" >
    <div class="input-group">
      <input type="text" ng-model ="vm.textURL" class="form-control" size="50" placeholder="Enter URL to shorten" required>
      <div class="input-group-btn">
        <button type="button" ng-click="vm.addURL()" class="btn btn-danger">Shorten URL</button>
      </div>
    </div>
  </form>
   <table class="table table-hover">
    <thead>
      <tr>
        <th>Long URL</th>
        <th>Short URL</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="url in vm.generatedURL">
        <td>{{url.longURL}}</td>
        <td>{{url.shortURL}}</td>
        <td><a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a></td>
<td> <button type="button" class="btn btn-default btn-sm" ng-click="vm.deleteUrl(url)">
          <span class="glyphicon glyphicon-trash"></span> Delete 
        </button> </td>
      </tr>
</tbody>
</table>
       <!--  <table>
            <tr>
                <th ng-click="type = 'include'; reverse = !reverse">Status</th>
                <th ng-click="type = 'state'; reverse = !reverse">State</th>
                <th ng-click="type = 'price'; reverse = !reverse">Price</th>
                <th ng-click="type = 'tax'; reverse = !reverse">Tax</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="record in vm.records | orderBy:type:reverse">
                <td><input type="checkbox" ng-model="record.include"></td>
                <td>{{record.state | uppercase}}</td>
                <td>{{record.price | currency}}</td>
                <td>{{record.tax | currency}}</td>
                <td><button ng-click="vm.Delete(record)">Delete</button></td>
            </tr>
          
        </table>
        <button ng-show="history.length > 0" ng-click="vm.Undo()">Undo Delete</button>
  
  
    <div class="add_data">
        <h1>Add Data</h1>
        <form ng-submit="vm.Add()">
            <div class="field">
                <label for="state">State: </label>
                <input id="state" type="text" placeholder="State" maxlength="2" ng-model="vm.newState">
            </div>
            <div class="field">
                <label for="price">Price: </label>
                <input id="price" type="number" placeholder="Price" min="0" ng-model="vm.newPrice">
            </div>
            <div class="field">
                <label for="tax">Tax: </label>
                <input id="tax" type="number" placeholder="Tax" min="0" ng-model="vm.newTax">
            </div>
            <div class="action">
                <button type="submit">Add</button>
                <button ng-click="vm.Reset()">Reset</button>
            </div>
        </form>
    </div> -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business"
        value="donations@kcparkfriends.org">

    <!-- Specify a Donate button. -->
    <input type="hidden" name="cmd" value="_donations">

    <!-- Specify details about the contribution -->
    <input type="hidden" name="item_name" value="Friends of the Park">
    <input type="hidden" name="item_number" value="Fall Cleanup Campaign">
    <input type="hidden" name="amount" value="25.00">
    <input type="hidden" name="currency_code" value="USD">

    <!-- Display the payment button. -->
    <input type="image" name="submit"
    src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png"
    alt="Donate">
    <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
</form>

<p><a href="#!/login" class="btn btn-primary">Logout</a></p>